.login-state-wrapper-checked > .login-state > .login-state-inner {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}
.login-state-wrapper > .login-state:hover > .login-state-inner {
  border-color: #ffeb3b;
}

.login-form-button {
  background: #ffeb3b;
  border-color: #ffeb3b;
}
.login-form-button:hover {
  background: #fdd835;
  border-color: #fdd835 !important;
}